
#nav {
	position: relative;
	z-index: 1;


}


#slide {
margin-top: 0px;

}

#nav ul{
	position: relative;
	margin: 0;
	list-style-type: none;
	background-color: #252525;
	

}
#nav ul li {
	display: inline-block;
	text-align: center;
}

#nav ul li a {
	display: block;
	height: 45px;
	width: 110px;
	color:#fff;
	font-size: 0.9em;
	text-decoration: none;
}

#nav ul li a:hover {
	
	color: gray;
	border-radius: 5px;
	text-decoration: none;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;

}

#nav ul ul {
	position: absolute;
	display: none;
	width: 120px;
	border-radius: 5px;

}

#nav ul ul li{
	display: block;
	background-color: #252525;
	border-radius: 5px;
	text-align: left;
}

.glyphicon {
	margin: 10px;

}

#mens {
	text-align: right;
	margin-right: 40px;
	font-size: 20px;
}

.topsale {
	width: 200px;
	height: 250px;

}



.name {
	text-align: center;
}
.payment {
	text-align: center;
	color: red;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 40%;
	height: 350px;
    margin: auto;
}


#myCarousel {
	margin-top: 0px;
}




#topmens {
margin-top: 5px;
margin-bottom: 30px;
background-color: #62c2e4;
border: 1px solid gray;
border-radius: 10px; 
margin-bottom: 10px;
width:70%;
margin-left: 29.5%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#topwomens {
margin-top: 5px;

background-color: #db9dbe;
border: 1px solid gray;
border-radius: 10px; 
margin-bottom: 10px;
width:70%;
margin-left: 29.5%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}	

.middlebar{

box-shadow: 10px 10px 5px gray;
border: 0px solid;
border-radius: 10px;
margin-bottom: 50px;
padding-bottom: 50px;
}

#topaccessories {
margin-top: 5px;

background-color: #c4e17f;
border: 1px solid gray;
border-radius: 10px; 
margin-bottom: 10px;
width:70%;
margin-left: 29.5%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sales {
margin-bottom: 70px;
margin-top: 30px;
}

#profile {
margin-left: 15%;
width: 160px;
height: 160px;

}
#leftbar {
margin-left: 10px;
}

#odd {
margin-bottom: 70px;
margin-top: 40px;

}
.img-thumbnail {
width: 250px;
height: 300px;
border-radius: 10px;
box-shadow: 5px 5px 2px gray;
}